.task {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 120px;
  background-color: #fff2e6;

  &__content {
    flex-basis: 50%;
    margin-top: 110px;
    
    &--h1 {
    font-size: 85px;
    font-weight: bold;
    line-height: 80px;
    color: #000000;
    margin-bottom: 60px;
    }

    &--text {
      max-width: 363px;
      color: #7e756a;
      font-size: 26px;
      line-height: 35px;
      margin-bottom: 70px;
    }

    &--link {
      color: #7e756a;
      font-size: 23px;
    }
  }
  
  &__blur {
    flex-basis: 50%;
    position: relative;
    margin-top: 250px;

    &--content {
    position: absolute;

    width:670px;
    height: 700px;;
    left: -20px;
    bottom: -200px;
    background-image: radial-gradient(#f159a5 10% , #f66383 30%, #fedcbf 60%, transparent 70%);     
    transform: skewX(170deg);
    filter: blur(25px);
  
    
    
    }
  }
}